@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

div.viewTrips{
    font-family: 'Open Sans Condensed', sans-serif;
  
    
}
h1.viewTrips{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;

}
