h1.viewTrips{
    text-align: center;
    
}
div.trips{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

div.itineraryCards{
    margin-top: 60px;
}
h2.viewTrips{
    text-align: center;
}