.chat-search {
	height: 55px;
	display: flex;
	box-shadow: grey 2px 6px 14px -5px;
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
}

.chat-search-icon {
	width: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chat-search-field {
	width: 100%;
	border: none;
	background: #ecedf0;
	font-family: myriad pro regular;
	font-size: 19px;
}
.chat-search-field::placeholder {
	font-family: myriad pro regular;
	font-size: 19px;
	opacity: 0.6;
}
.chat-search-field:focus {
	border: none;
}

.chats-list {
	width: 310px;
	height: calc(100vh - 155px);
	overflow-y: auto;
	overflow-x: hidden;
}

.chat-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	box-shadow: grey -1px 7px 16px -4px;
	margin-bottom: 10px;
	background: #f7f8fc;
	cursor: pointer;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
	width: 295px;
	color: #9d9d9d;
	position: relative;
	z-index: 2;
}

.chat-wrapper:hover {
	width: 305px;
	background: #125ca1;
	color: #e9e8e8;
}

.chat-wrapper:hover .chat-name {
	color: white;
	font-weight: 700;
}
.chat-wrapper:hover .chat-image {
	border: 1px solid white;
}

.chat-wrapper-user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	box-shadow: grey -1px 7px 16px -4px;
	margin-bottom: 10px;
	cursor: pointer;
	width: 305px;
	background: #125ca1;
	color: #e9e8e8;
	position: relative;
	z-index: 2;
}

.chat-wrapper-user .chat-name {
	color: white;
	font-weight: 700;
}

.chat-content {
	display: flex;
}

.chat-image {
	border-radius: 40px;
	margin: auto;
}

.chat-text-wrapper {
	display: flex;
	width: 190px;
	font-family: open sans;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px 0;
}

.chat-name-wrapper {
	display: flex;
	justify-content: space-between;
}

.chat-name {
	color: #515153;
	font-family: raleway;
	font-weight: 400;
	font-size: 19px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 165px;
}

.chat-unread {
	width: 15px;
	height: 15px;
	border-radius: 8px;
	background: #3bb890;
	margin-right: 10px;
	margin-bottom: auto;
	margin-top: auto;
}

.chat-specialty {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
}

.chat-last-message {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
}
