@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
  background-color: whitesmoke;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}
main {
  text-align: center;
}